{{> layout/header}}

<h1>게시글 상세보기 화면 (제목, 내용 화면에 출력)</h1>
<p>상세보기 화면 경로</p>
<p>http://localhost:8080/board/1</p>

<!--화면에 출력해야할 부분-->
<!--0. div로 1~3을 감싸보자-->
<div>
    <!--1. 작성자-->
    <b>작성자</b> : {{board.username}}
</div>

<div>
    <!--2. 제목-->
    <b>{{board.title}}</b>
    <!--3. 내용-->
    {{board.content}}
</div>


{{> layout/footer}}