{{> layout/header}}

<h1>게시글 목록 화면(내용 출력)</h1>

<div>{{#boardList}}
       <div>
           <h4>{{title}}</h4>
           <a href="/board/{{id}}" class="btn btn-primary">상세보기</a>
       </div>
    {{/boardList}}
    </div>

{{> layout/footer}}