{{> layout/header}}

<h1>게시글 작성 폼 태그 완성하기</h1>

<div><b>글쓰기</b></div>
{{! name 속성의 값이 서버에서 받을 때의 이름이 됩니다. }}
<form action="/board/save" method="post">
    <div>
        <input type="text" class="form-control" placeholder="작성자" name="username">
    </div>

    <div>
        <input type="text" class="form-control" placeholder="제목" name="title">
    </div>

    <div>
        <textarea class="form-control" rows="5" placeholder="내용" name="content"></textarea>
    </div>
</form>
{{> layout/footer}}