{{> layout/header}}

<h1>게시글 수정 화면 + 폼 태그 완성</h1>
<p>게시글 수정 화면 경로</p>
<p>http://localhost:8080/board/4/update</p>


<form action="/board/{{board.id}}/update" method="post">
    <div>
        <input type="text" class="form-control" value="{{board.username}} readonly">
    </div>

    <div>
        <input type="text" class="form-control" name="title", value="{{board.title}}">
    </div>

    <div>
    <textarea class="form-control" rows="5" name="content">{{board.content}}</textarea>
    </div>
    <button class="btn btn-primary form-control">수정완료</button>


</form>

{{> layout/footer}}